@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <form class="border p-4 rounded-3" style="width: 300px;" method="post" asp-controller="Home" asp-action="Index">
    <h2 class="mb-3">Login</h2>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
