@{
    ViewData["Title"] = "Create User Account";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h1 class="text-center">Create User Account</h1>
                </div>
                <div class="card-body">
                    <!-- this form will handle a post Request to controller which will send to api and INSERT DATA-->
                    <form method="post" asp-controller="AdminHomepage" asp-action="AddBooksLogs">
                        <!-- student_id_fk is the column of the table, which is from on the model, same to  book_id,book_get_date,book_due_date -->
                        <div class="mb-3">
                            <label for="student_id_fk" class="form-label">Student Id</label>
                            <input type="text" name="student_id_fk" id="student_id_fk" class="form-control" placeholder="Zuckerberg" />
                        </div>
                        <div class="mb-3">
                            <label for="book_id" class="form-label">Book ID</label>
                            <input type="text" name="book_id" id="book_id" class="form-control" placeholder="Zuckerberg" />
                        </div>
                        <div class="mb-3">
                            <label for="book_get_date" class="form-label">Get Date</label>
                            <input type="date" name="book_get_date" id="book_get_date" class="form-control" placeholder="Zuckerberg" required/>
                        </div>
                        <div class="mb-3">
                            <label for="book_due_date" class="form-label">Due Date</label>
                            <input type="date" name="book_due_date" id="book_due_date" class="form-control" placeholder="Zuckerberg"  required/>
                        </div>
                        
                        <div class="text-left pt-1 mb-5 pb-1">
                            <button class="btn btn-primary btn-block" type="submit">Create</button>
                        </div>
                    </form>
                    <a href="javascript:history.back()" class="text-center d-block mt-3">← Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
